body{padding:   0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Open Sans", serif;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    p{
        font-size: 12px;
        margin: 10px 0;
    }
    .brand-navbar .fas{
      color:#000;
  }
  .brand-navbar .far{
      color: #000;
  }
    .dropdown-menubar ul{
      padding: 0;
      margin: 0;
  }
  .dropdown-menubar img{
      margin-right: 20px;
  }
  .dropdown-menubar ul li {
      display: block;
      padding: 10px 10px;
      margin: 0;
      border: 1px solid rgb(233, 230, 230);
  }
  .dropdown-menubar ul li a{
      font-size: 1rem;
      color: #333;
      margin: 0 0 0 10px;
  }
  .dropdown-menubar ul li:hover {
      background: var(--bs-accordion-active-bg);;
  } 
  .accordion-body{
      padding: 0;
  }
  .accordion-body img{
      margin-right: 10px;
  }
  .leftmenubar{
      padding: 8px 80px 8px 10px;
      background: #634C9F !important;
      color: #fff !important;
      font-weight: 700 !important;
  }
  .rightmenubar{
      padding: 8px 20px;
      background: #634C9F !important;
      color: #fff !important;
      font-weight: 700 !important;
  }
  .brand-navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  .hamburgermenu{
      display: none;
    }
    .hamburgermenu ul li a{
      color: #fff;
  }
  button a{
      color: #000;
  }
    .logo-area{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .logo-area .fas{
      font-size: 22px;
      margin-left: 20px;
  }
    .right-menubar{
      display: none;
      width: 100%;
      padding: 20px 0;
      /* display: flex;
      justify-content: space-between; */
  }
  .right-menubar .navbar-menu{
      display: block;
      border: none;
  }
  .right-menubar .navbar-menu ul{
      display: grid;
  }
  .right-menubar .navbar-menu ul li{
      padding:5px 10px;
  }
  .right-menubar .navbar-menu ul li:hover{
      background: paleturquoise;
  }
  .left-btn-area{
    display: none;
}
.right-btn-area{
    display: none;
}
.leftmenubar{
    padding: 8px 80px 8px 10px;
    background: #634C9F !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.rightmenubar{
    padding: 8px 20px;
    background: #634C9F !important;
    color: #fff !important;
    font-weight: 700 !important;
}
    .top-nav{
        width: 100%;
        height: 40px;
        background: #634C9F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 7%;
    }
    .top-nav p{
        color: #fff;
        font-size: 12px;
        margin: 0;
    }
    .top-nav h2 {
      font-weight: 500;
      margin: 0 0 20px;
    }
    .timer span {
      font-size: 16px;
      font-weight: 700;
  }
    .timer {
      margin: 0 ;
      color: #fff;
      display: flex;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
    }
    .timer div {
      padding: 10px;
      border-radius: 3px;
      display: flex;
      font-size: 26px;
      font-weight: 400;
      width: 76px;
     
    }
    .timer .smalltext {
      color: #e0dfdf;
      font-size: 12px;
      font-weight: 500;
      display: block;
      padding: 4px;
      width: auto;
     
    }
    .timer #time-up {
      margin: 8px 0 0;
      text-align: left;
      font-size: 14px;
      font-style: normal;
      color: #000000;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .middle-nav{
      padding: 0 7%;
    }
    #jinstore-navbar {
        background-color: #fff;
        color: #000;
    }
    .row {
       width: 100%;
      
    }
    .row1{
        width: 100%;
        height: 100%;
      
    }
    
    .navbar-menu{
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 10px ;
      position: relative;
  }
  .navbar-menu ul{
      display: flex;
      text-decoration: none;
  }
  .navbar-menu ul li{
      list-style: none;
      margin: 0 10px;
  }
  .navbar-menu ul li a{
      color: #000;
      font-size: 15px;
      padding: 22px 0
  }
  .navbar-menu .shop-dropdawn{
      width: auto;
      height: auto;
      padding: 10px;
      background: #634C9F;
      display: none;
      border-radius: 8px;
      position: absolute;
      bottom: -68px;
      left: 6%;
      z-index: 2;
  }
  .navbar-menu .shop-dropdawn ul{
      display: grid;
      list-style: none;
      text-decoration: none;
  }
  .navbar-menu .shop-dropdawn ul li a{
      color: #fff;
      transition: all 0.6s ease-in-out;
      padding: 0;
  }
  .navbar-menu .shop-dropdawn ul li:hover a{
      transition: all 0.6s ease-in-out;
  }
  .navbar-menu ul li:hover .shop-dropdawn{
   display: block;
  }
  
  /* trending products  */
.navbar-menu .trending-dropdown{
  padding: 10px 10px 20px 10px;
  height: auto;
  background: #634C9F;
  display: none;
  border-radius: 8px;
  position: absolute;
 top: 100%;
  z-index: 2;
}
.navbar-menu .trending-dropdown ul{
flex-direction: column;
}
.navbar-menu .trending-dropdown ul li a{
  color: #fff;
}
.navbar-menu ul li:hover .trending-dropdown{
  display: block;
}
    .bottom-nav{
        width: 100%;
        display: flex;
    }
    .dropdown{
        width: 20%;
    }
    
    .row1 .largenav pull-right{
        margin: 0;
        color: #000;
    }
    .row1 ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .row1 ul li a {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }
    .row1 .connection-area select {
      color: #000;
      font-size: 15px;
      font-weight: 500;
  }
    .connection-area{
      display: flex;
      align-items: center;
    }
    .row .connection-area select{
        color: #000;
        font-size: 15px;
        font-weight: 500;
    }
    .connection-area select:focus{
      outline: none;
    }
    .row_top{
        width: 100%;
        height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .row_top ul{
        margin: 0;
        padding: 0;
    }
    .row2 {
        padding-bottom: 20px;
    }
    .largenav pull-right{
       margin: 0;
      
    }
    .jinstore-navbar-input {
        width: 80%;
        padding: 11px 16px;
        border-radius: 2px 0 0 2px;
        border: 0 none;
        outline: 0 none;
        font-size: 15px;
        background: #F3F4F6;
        border-radius: 8px 0 0 8px;
    }
    
    .jinstore-navbar-button {
        width: 60px;
        background-color: #F3F4F6;
        border: none;
        border-radius: 0 2px 2px 0;
        color: #565656;
        padding: 10px 0;
        height: 45px;
        cursor: pointer;
    }
    .cart {
      width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .cart .far {
    font-size: 22px;
}
.cart .fas {
  font-size: 22px;
 
}
.sign-area{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
  .location-searchbar{
    width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .location-text p{
    margin: 0;
}
    .location-icon{
        width: 80px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .location-icon .fas{
        font-size: 26px;
        margin-right: 10px;
    }
    .cart-button {
        background-color: #fff;
        
        padding: 4px 0;
        text-align: center;
        height: 41px;
        border-radius: 2px;
        font-weight: 500;
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        color: inherit;
        border: none;
        outline: none;
        font-size: 12px;
    }
    
    .cart-button:hover{
        text-decoration: none;
        color: #11aeb0;
        cursor: pointer;
    }
    
    .cart-svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    .item-number {
        border-radius: 3px;
        height: 20px;
        padding: 3px 6px;
        font-weight: 500;
        display: inline-block;
        color: #030712;
        line-height: 12px;
        margin-left: 10px;
        width: 50px;
    }
    
    .upper-links {
        display: inline-block;
       padding-right: 12px;
        line-height: 23px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0;
        color: inherit;
        border: none;
        outline: none;
        font-size: 12px;
      
    }
    .links {
        color: #6B7280;
        text-decoration: none;
    }
    .connection-area select {
        padding: 0 10px 0 20px;
        height: 40PX;
        background: none;
        color: #6B7280;
        border: none;
        font-size: 12px;
    }





    /* products area  */
    
    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        @media screen and (max-width: 996px) {
          .preview {
            margin-bottom: 20px; } }
      
      .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      
      .preview-thumbnail.nav-tabs {
        border: none;
        margin-top: 15px; }
        .preview-thumbnail.nav-tabs li {
          width: 10%;
          margin-right: 3%; }
          .preview-thumbnail.nav-tabs li img {
            max-width: 70px;
            display: block; }
          .preview-thumbnail.nav-tabs li a {
            padding: 0;
            margin: 0; }
          .preview-thumbnail.nav-tabs li:last-of-type {
            margin-right: 0; }
      
      .tab-content {
        overflow: hidden; }
        .tab-content img {
          width: 500px;
          -webkit-animation-name: opacity;
                  animation-name: opacity;
          -webkit-animation-duration: .3s;
                  animation-duration: .3s; }
      
      .card {
        margin-top: 50px;
        padding: 3em;
        line-height: 1.5em; }
      
      @media screen and (min-width: 997px) {
        .wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        flex-wrap: wrap; } }
      
      .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
      
      
      .product-title, .price, .sizes, .colors {
        text-transform: UPPERCASE;
        font-weight: bold; }
        .checked{
          color: rgb(244, 186, 12);
        }
       .price span {
        color: #f13405;
      font-size: 30px; }
      .special-offer{
        background: #FFF7ED;
        width: 100%;
        border-radius: 8px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .product-title, .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px; }
      
      .product-title {
        margin-top: 0; }
      
      .size {
        margin-right: 10px; }
        .size:first-of-type {
          margin-left: 40px; }
      
      
      .add-to-cart, .like {
        
        padding: 1.2em 1.5em;
        border: none;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #fff;
        -webkit-transition: background .3s ease;
                transition: background .3s ease; }
        
      
      .not-available {
        text-align: center;
        line-height: 2em; }
        .not-available:before {
          font-family: fontawesome;
          content: "\f00d";
          color: #fff; }
      
      .orange {
        background: #ff9f1a; }
      
      .green {
        background: #85ad00; }
      
      .blue {
        background: #0076ad; }
      
      .tooltip-inner {
        padding: 1.3em; }
      
      @-webkit-keyframes opacity {
        0% {
          opacity: 0;
          -webkit-transform: scale(3);
                  transform: scale(3); }
        100% {
          opacity: 1;
          -webkit-transform: scale(1);
                  transform: scale(1); } }
      
      @keyframes opacity {
        0% {
          opacity: 0;
          -webkit-transform: scale(3);
                  transform: scale(3); }
        100% {
          opacity: 1;
          -webkit-transform: scale(1);
                  transform: scale(1); } }
      

ul > li{margin-right:0;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}
.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
.btn-success{width:100%;border-radius:0;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}
@media (max-width: 426px) {
  .container {margin-top:0px !important;}
  .container > .row{padding:0 !important;}
  .container > .row > .col-xs-12.col-sm-5{
      padding-right:0 ;    
  }
  .container > .row > .col-xs-12.col-sm-9 > div > p{
      padding-left:0 !important;
      padding-right:0 !important;
  }
  .container > .row > .col-xs-12.col-sm-9 > div > ul{
      padding-left:10px !important;
      
  }            
  .section{width:104%;}
 .menu-items{padding-left:0;}
 }                  

.shopping-btn{
  padding: 5px 40px;
  background: green;
  color: #fff;
  border-radius: 5px ;
  border: none;
}
.buy-btn{
  padding: 5px 40px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.order-btn{
  width: 180px;
  padding: 5px 0;
  background: #16A34A;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
.payment-area{
  margin: 30px 0;
}
.payment-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-icon .fas{
  font-size: 26px;
  color: #b3b3b4;
  margin-right: 10px;
}




/* ****************        */
.product-add-area{
    display: flex;
    padding: 2% 7%;
    position: relative;
  }
  .product-add-area .product-grid{
    height: auto;
  }
  .product-grid .product-content{
    position: absolute;
    bottom:-10%;
  }
  .product-grid{height: auto; text-align:center;padding:0 0 100px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
  .product-grid .product-image{position:relative;
    transition:all .3s ease 0s;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
        align-items: center;}
  .product-grid .product-image a{display:block}
  .product-grid .product-image img{width:100%;height:auto}
  .product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
  .product-grid:hover .pic-1{opacity:1}
  .product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
  .product-grid:hover .pic-2{opacity:1}
  .product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
  .product-grid:hover .social{opacity:1;top:50%}
  .product-grid .social li{display:inline-block}
  .product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
  .product-grid .social li a:hover{color:#fff;background-color:#ef5777}
  .product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
  .product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
  .product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
  .product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#634C9F;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
  .product-grid .product-discount-label{background-color:#d7292a;left:auto;right:0}
  .product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
  .product-grid .rating li.disable{color:rgba(0,0,0,.2)}
  .product-grid .product-content{background-color:#fff;text-align:center;padding:16px;margin:0 auto;position:absolute;left:0;right:0;top: 72%;z-index:1;transition:all .3s}
  .product-grid:hover .product-content{top:60%}
  .product-grid .title{font-size:14px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
  .product-grid .title a{color:#828282; text-decoration: none;}
  .product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
  .product-grid .price{color:#e40b0b;font-size:22px;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
  .product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
  .product-grid .add-to-cart{color:#000;font-size:14px;font-weight:600}
  

  .review{
    padding: 0 7%;
  }


       /*footer*/
.col_white_amrc { color:#000;}
footer { width:100%; background-color:#F3F4F6; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#000; padding-bottom:0px; margin: 20px 0;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#000;text-decoration: none;}
.footer_ul_amrc li a:hover{ color:#000; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid gainsboro; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#000; margin:0 12px;text-decoration: none;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  padding: 0;}
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#000; border:1px solid #000; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.social_footer_ul li .fab:hover {
    color: purple;
}
.social_footer_ul li:hover a{
    border: 2px solid purple;
}
.download-app{
    display: flex;
}
.privacy-policy{
    display: flex;
    justify-content: space-between;
}
.policy{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.footer-links{
  display: flex;
  justify-content: space-between;
}
.footer-text{
    margin: 20px 10px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
}
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    margin-left: auto;
   
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
          width: 280px;
          margin-left: -40%;
        }
        .footer-search-area p{
            margin: 10px 0;
        }
.footer .btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    color: #fff;
    background: #634C9F;
    padding: 5px 20px;
    border-radius: 4px;
}
a{
  text-decoration: none;
}
.dawnload-img img{
  margin:15px 0;
}
.action a{
  color: #fff;
}



 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
   .slider{
    width: 45%;
    margin-right: 40px;
   }



@media screen and (min-width:1025px) and (max-width:1366px) {
  .navbar-menu ul li a {
    padding: 10px 0;
}
.product-grid .product-content {
  padding: 7px;}
}
@media screen and (min-width:768px) and (max-width:1024px) {
  .navbar-menu ul li a {
    padding: 10px 0;
}
  /* top navbar start */
   .top-nav{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     height: auto;
     padding: 0 2%;
    }
    /* top navbar end  */
    /* .e-commerce-body start  */
    .e-commerce-body {
     padding: 0 2%;
    }  
    /* end  */
    /* row-top area  */
    .row_top{
     height: auto;
 }
 .hamburgermenu{
    display: block;
 }
 .logo-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .largenav{
     display: none ;
 }
    .connection-area select{
     padding: 0 10px 0 0;
    }
    /* end  */
   .middle-nav {
      padding: 0 5%;
  }
    .offset-3{
     margin-left: 0;
     }
    
 /* brand navbar strat  */
 .brand-navbar {
     display: block;
 }
 .location-icon{
     display: none;
    }
 .hamburgermenu{
     display: block;
   }
   .hamburger-area ul{
     display: none;
   }
   .menuitem ul{
     position: absolute;
     display: block;
     background: #634C9F;
     left: 0;
     top: 10.68em;
     width: 100%;
     padding: 20px;
     list-style: none;
 }
 .top-nav a{
     color: #fff ;
 }
 .jinstore-navbar-search {
     width: 100%;
     display: flex;
     padding: 0;
     margin:10px 0;
 }
 .jinstore-navbar-input {
     width: 100%;
 }
 .dropdown{
     display: none;
 }
 .right-menubar .dropdown{
     display: block;
     width: 100%;
 }
 .row1 {
     width: 100%;
     height: 100%;
     margin-left: 0;
 }
 .row1 .navbar-menu{
     display: none;
 }
 .slider{
    margin: 20px 0;
 }
 .left-btn-area{
    display: block;
}
.right-btn-area{
    display: block;
}
.right-menubar{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.right-menubar .navbar-menu{
    display: block;
    border: none;
}
.right-menubar .navbar-menu ul{
    display: grid;
}
.right-menubar .navbar-menu ul li{
    padding:5px 10px;
}
.right-menubar .navbar-menu ul li:hover{
    background: paleturquoise;
}
.swiper-slide{
    flex-wrap: wrap;
}
.product-grid .product-image img {
    width: 100%;
    height: 160px;
}
.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 35%;
    width: 50px;
    height: 50px;
    background: gainsboro;
}
.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 50px;
    height: 50px;
    background: gainsboro;
}
.preview-thumbnail.nav-tabs li {
  width: 24%;
  margin-right: 1%; }
  .card {
    margin-top: 50px;
    padding:26px;
    line-height: 1.5em;
}
  .product-add-area {
    flex-wrap: wrap;
    padding: 2% 7%;
    position: relative;
    justify-content: space-between;
}
.firstmenu-footer{
    width: 30%;
   }
   .footer-text {
    display: block;
}
.navigation a{
  color: #fff;
}
.product-box{
  width: 30%;
  }
  .footer-links {
    flex-wrap: wrap;
    justify-content: space-between;
}
.preview{
  margin:20px auto ;
}
.details{
 width: 100%;
}
}
@media screen and (min-width:540px) and (max-width:767px){
  .navbar-menu ul li a {
    padding: 10px 0;
}
  /* top navbar start */
 .top-nav{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
   height: auto;
   padding: 0 2%;
  }
  /* top navbar end  */
  /* .e-commerce-body start  */
  .e-commerce-body {
   padding: 0 2%;
  }  
  /* end  */
  /* row-top area  */
  .row_top{
   height: auto;
}
.hamburgermenu{
  display: block;
}
.logo-area{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.largenav{
   display: none ;
}
  .connection-area select{
   padding: 0 10px 0 0;
  }
  /* end  */

  .offset-3{
   margin-left: 0;
   }
  
/* brand navbar strat  */
.brand-navbar {
   display: block;
}
.location-icon{
   display: none;
  }
.hamburgermenu{
   display: block;
 }
 .hamburger-area ul{
   display: none;
 }
 .menuitem ul{
   position: absolute;
   display: block;
   background: #634C9F;
   left: 0;
   top: 10.68em;
   width: 100%;
   padding: 20px;
   list-style: none;
}
.top-nav a{
   color: #fff ;
}
.jinstore-navbar-search {
   width: 100%;
   display: flex;
   padding: 0;
   margin:10px 0;
}
.jinstore-navbar-input {
   width: 80%;
}
.dropdown{
   display: none;
}
.right-menubar .dropdown{
   display: block;
   width: 100%;
}
.row1 {
   width: 100%;
   height: 100%;
   margin-left: 0;
}
.row1 .navbar-menu{
   display: none;
}
.slider{
  margin: 20px 0;
}
.left-btn-area{
  display: block;
}
.right-btn-area{
  display: block;
}
.right-menubar{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.right-menubar .navbar-menu{
  display: block;
  border: none;
}
.right-menubar .navbar-menu ul{
  display: grid;
}
.right-menubar .navbar-menu ul li{
  padding:5px 10px;
}
.right-menubar .navbar-menu ul li:hover{
  background: paleturquoise;
}
.swiper-slide{
  flex-wrap: wrap;
}
.product-grid .product-image img {
  width: 100%;
  height: 160px;
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 35%;
  width: 50px;
  height: 50px;
  background: gainsboro;
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 50px;
  height: 50px;
  background: gainsboro;
}
.preview-thumbnail.nav-tabs li {
width: 24%;
margin-right: 1%; }
.card {
  margin-top: 50px;
  padding:26px;
  line-height: 1.5em;
}
.product-add-area {
  flex-wrap: wrap;
  padding: 2% 7%;
  position: relative;
}
.firstmenu-footer{
  width: 50%;
 }
 .footer-text {
  display: block;
}
.navigation a{
color: #fff;
}
.product-box{
width: 30%;
}
.footer-links {
  flex-wrap: wrap;
  justify-content: space-between;
}
}
@media screen and (min-width:320px) and (max-width:539px) {
  .navbar-menu ul li a {
    padding: 10px 0;
}
  /* top navbar start */
    .top-nav{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
       height: auto;
       padding: 0 2%;
      }
      /* top navbar end  */
      /* .e-commerce-body start  */
      .e-commerce-body {
       padding: 0 2%;
      }  
      /* end  */
      /* row-top area  */
      .row_top{
       height: auto;
   }
   .hamburgermenu{
      display: block;
   }
   .logo-area{
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .largenav{
       display: none ;
   }
      .connection-area select{
       padding: 0 10px 0 0;
      }
      /* end  */
   
      .offset-3{
       margin-left: 0;
       }
      
   /* brand navbar strat  */
   .brand-navbar {
       display: block;
   }
   .location-icon{
       display: none;
      }
   .hamburgermenu{
       display: block;
     }
     .hamburger-area ul{
       display: none;
     }
     .menuitem ul{
       position: absolute;
       display: block;
       background: #634C9F;
       left: 0;
       top: 10.68em;
       width: 100%;
       padding: 20px;
       list-style: none;
   }
   .top-nav a{
       color: #fff ;
   }
   .jinstore-navbar-search {
       width: 100%;
       display: flex;
       padding: 0;
       margin:10px 0;
   }
   .jinstore-navbar-input {
       width: 80%;
   }
   .dropdown{
       display: none;
   }
   .right-menubar .dropdown{
       display: block;
       width: 100%;
   }
   .row1 {
       width: 100%;
       height: 100%;
       margin-left: 0;
   }
   .row1 .navbar-menu{
       display: none;
   }
   .slider{
      margin: 20px 0;
   }
   .left-btn-area{
      display: block;
  }
  .right-btn-area{
      display: block;
  }
  .right-menubar{
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
  }
  .right-menubar .navbar-menu{
      display: block;
      border: none;
  }
  .right-menubar .navbar-menu ul{
      display: grid;
  }
  .right-menubar .navbar-menu ul li{
      padding:5px 10px;
  }
  .right-menubar .navbar-menu ul li:hover{
      background: paleturquoise;
  }
  .swiper-slide{
      flex-wrap: wrap;
  }
  .product-grid .product-image img {
      width: 100%;
      height: 160px;
  }
  .swiper-button-next {
      position: absolute;
      top: 50%;
      right: 35%;
      width: 50px;
      height: 50px;
      background: gainsboro;
  }
  .swiper-button-prev {
      position: absolute;
      top: 50%;
      left: 35%;
      width: 50px;
      height: 50px;
      background: gainsboro;
  }
  .preview-thumbnail.nav-tabs li {
    width: 24%;
    margin-right: 1%; }
    .card {
      margin-top: 50px;
      padding:26px;
      line-height: 1.5em;
  }
    .product-add-area {
      flex-wrap: wrap;
      padding: 2% 7%;
      position: relative;
  }
  .firstmenu-footer{
      width: 50%;
     }
     .footer-text {
      display: block;
  }
  .navigation a{
    color: #fff;
  }
  .product-box{
    width: 50%;
    }
    .footer-links {
      flex-wrap: wrap;
      justify-content: space-between;
  }
}
@media screen and (max-width:319px) {
  .navbar-menu ul li a {
    padding: 10px 0;
}
  /* top navbar start */
     .top-nav{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
       height: auto;
       padding: 0 2%;
      }
      /* top navbar end  */
      /* .e-commerce-body start  */
      .e-commerce-body {
       padding: 0 2%;
      }  
      /* end  */
      /* row-top area  */
      .row_top{
       height: auto;
   }
   .hamburgermenu{
      display: block;
   }
   .logo-area{
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .largenav{
       display: none ;
   }
      .connection-area select{
       padding: 0 10px 0 0;
      }
      /* end  */
   
      .offset-3{
       margin-left: 0;
       }
      
   /* brand navbar strat  */
   .brand-navbar {
       display: block;
   }
   .location-icon{
       display: none;
      }
   .hamburgermenu{
       display: block;
     }
     .hamburger-area ul{
       display: none;
     }
     .menuitem ul{
       position: absolute;
       display: block;
       background: #634C9F;
       left: 0;
       top: 10.68em;
       width: 100%;
       padding: 20px;
       list-style: none;
   }
   .top-nav a{
       color: #fff ;
   }
   .jinstore-navbar-search {
       width: 100%;
       display: flex;
       padding: 0;
       margin:10px 0;
   }
   .jinstore-navbar-input {
       width: 80%;
   }
   .dropdown{
       display: none;
   }
   .right-menubar .dropdown{
       display: block;
       width: 100%;
   }
   .row1 {
       width: 100%;
       height: 100%;
       margin-left: 0;
   }
   .row1 .navbar-menu{
       display: none;
   }
   .slider{
      margin: 20px 0;
   }
   .left-btn-area{
      display: block;
  }
  .right-btn-area{
      display: block;
  }
  .right-menubar{
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
  }
  .right-menubar .navbar-menu{
      display: block;
      border: none;
  }
  .right-menubar .navbar-menu ul{
      display: grid;
  }
  .right-menubar .navbar-menu ul li{
      padding:5px 10px;
  }
  .right-menubar .navbar-menu ul li:hover{
      background: paleturquoise;
  }
  .swiper-slide{
      flex-wrap: wrap;
  }
  .product-grid .product-image img {
      width: 100%;
      height: 160px;
  }
  .swiper-button-next {
      position: absolute;
      top: 50%;
      right: 35%;
      width: 50px;
      height: 50px;
      background: gainsboro;
  }
  .swiper-button-prev {
      position: absolute;
      top: 50%;
      left: 35%;
      width: 50px;
      height: 50px;
      background: gainsboro;
  }
  .preview-thumbnail.nav-tabs li {
    width: 24%;
    margin-right: 1%; }
    .card {
      margin-top: 50px;
      padding:26px;
      line-height: 1.5em;
  }
    .product-add-area {
      flex-wrap: wrap;
      padding: 2% 7%;
      position: relative;
  }
  .firstmenu-footer{
      width: 50%;
     }
     .footer-text {
      display: block;
  }
  .navigation a{
    color: #fff;
  }
  .product-box{
    width: 50%;
    }
    .footer-links {
      flex-wrap: wrap;
  }
}