body{padding:   0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Open Sans", serif;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    p{
        font-size: 12px;
    }
    .brand-navbar .fas{
        color:#000;
    }
    .brand-navbar .far{
        color: #000;
    }
    .top-nav{
        width: 100%;
        height: 40px;
        background: #634C9F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 7%;
    }
    .top-nav p{
        color: #fff;
        font-size: 12px;
        margin: 0;
    }
    .top-nav h2 {
        font-weight: 500;
        margin: 0 0 20px;
      }
      .timer span {
        font-size: 16px;
        font-weight: 700;
    }
      .timer {
        margin: 0 ;
        color: #fff;
        display: flex;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
      }
      .timer div {
        padding: 10px;
        border-radius: 3px;
        display: flex;
        font-size: 26px;
        font-weight: 400;
        width: 76px;
       
      }
      .timer .smalltext {
        color: #e0dfdf;
        font-size: 12px;
        font-weight: 500;
        display: block;
        padding: 4px;
        width: auto;
       
      }
      .timer #time-up {
        margin: 8px 0 0;
        text-align: left;
        font-size: 14px;
        font-style: normal;
        color: #000000;
        font-weight: 500;
        letter-spacing: 1px;
      }
    .middle-nav{
      padding: 0 7%;
    }
    #jinstore-navbar {
        background-color: #fff;
        color: #000;
    }
    .row {
       width: 100%;
      
    }
    .row1{
        width: 100%;
        height: 100%;
      
    }
    
    .navbar-menu{
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        margin-bottom: 10px ;
        position: relative;
    }
    .navbar-menu ul{
        display: flex;
        text-decoration: none;
    }
    .navbar-menu ul li{
        list-style: none;
        margin: 0 10px;
    }
    .navbar-menu ul li a{
        color: #000;
        font-size: 15px;
        padding: 22px 0
    }
    .navbar-menu .shop-dropdawn{
        width: auto;
        height: auto;
        padding: 10px;
        background: #634C9F;
        display: none;
        border-radius: 8px;
        position: absolute;
        bottom: -68px;
        left: 6%;
        z-index: 2;
    }
    .navbar-menu .shop-dropdawn ul{
        display: grid;
        list-style: none;
        text-decoration: none;
    }
    .navbar-menu .shop-dropdawn ul li a{
        color: #fff;
        transition: all 0.6s ease-in-out;
        padding: 0;
    }
    .navbar-menu .shop-dropdawn ul li:hover a{
        transition: all 0.6s ease-in-out;
    }
    .navbar-menu ul li:hover .shop-dropdawn{
     display: block;
    }
    
    .bottom-nav{
        width: 100%;
        display: flex;
    }
    .dropdown{
        width: 20%;
    }
    
    .row1 .largenav pull-right{
        margin: 0;
        color: #000;
    }
    .row1 ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .row1 ul li a {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        margin: 0;
    }
    .connection-area{
      display: flex;
      align-items: center;
    }
    .row .connection-area select{
        color: #000;
        font-size: 15px;
        font-weight: 500;
    }
    .connection-area select:focus{
      outline: none;
    }
    .row_top{
        width: 100%;
        height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .row_top ul{
        margin: 0;
        padding: 0;
    }
    .row2 {
        padding-bottom: 20px;
    }
    .largenav pull-right{
       margin: 0;
      
    }
    .jinstore-navbar-input {
        width: 80%;
        padding: 11px 16px;
        border-radius: 2px 0 0 2px;
        border: 0 none;
        outline: 0 none;
        font-size: 15px;
        background: #F3F4F6;
        border-radius: 8px 0 0 8px;
    }
    
    .jinstore-navbar-button {
        width: 60px;
        background-color: #F3F4F6;
        border: none;
        border-radius: 0 2px 2px 0;
        color: #565656;
        padding: 10px 0;
        height: 45px;
        cursor: pointer;
    }
    .cart {
        width: 200px;
        display: flex
    ;
        justify-content: space-between;
        align-items: center;
    }
    .cart .far {
        font-size: 22px;
    }
    .cart .fas {
      font-size: 22px;
     
    }
    .location-icon{
        width: 80px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .location-icon .fas{
        font-size: 26px;
    }
    .cart-button {
        background-color: #fff;
        
        padding: 10px 0;
        text-align: center;
        height: 41px;
        border-radius: 2px;
        font-weight: 500;
        width: 180px;
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        color: inherit;
        border: none;
        outline: none;
        font-size: 12px;
    }
    
    .cart-button:hover{
        text-decoration: none;
        color: #11aeb0;
        cursor: pointer;
    }
    
    .cart-svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    .item-number {
        border-radius: 3px;
        height: 20px;
        padding: 3px 6px;
        font-weight: 500;
        display: inline-block;
        color: #030712;
        line-height: 12px;
        margin-left: 10px;
        width: 50px;
    }
    
    .upper-links {
        display: inline-block;
       padding-right: 12px;
        line-height: 23px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0;
        color: inherit;
        border: none;
        outline: none;
        font-size: 12px;
      
    }
    .links {
        color: #6B7280;
        text-decoration: none;
    }
    .row1 .connection-area select {
        color: #000;
        font-size: 15px;
        font-weight: 500;
    }
    .connection-area select {
        padding: 0 10px 0 20px;
        height: 40PX;
        background: none;
        color: #6B7280;
        border: none;
        font-size: 12px;
    }

    /* navbar end  */

    /* notfound-area  */
    .notfound-area{
        width: 100%;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .found-btn{
        width: 160px;
        padding: 5px 10px;
        background: #634C9F;
        border: none;
        border-radius: 8px;
    }
    .found-btn a{
        color: #fff;
        font-size: 13px;
      font-weight: 500;
      text-decoration: none;
    }
    .notfound-info{
        padding: 40px;
        display: grid;
        justify-content: center;
        align-items: center;
    }



         /*footer*/
.col_white_amrc { color:#000;}
footer { width:100%; background-color:#F3F4F6; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#000; padding-bottom:0px; margin: 20px 0;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#000;text-decoration: none;}
.footer_ul_amrc li a:hover{ color:#000; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid gainsboro; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#000; margin:0 12px;text-decoration: none;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  padding: 0;}
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#000; border:1px solid #000; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.social_footer_ul li .fab:hover {
    color: purple;
}
.social_footer_ul li:hover a{
    border: 2px solid purple;
}
.download-app{
    display: flex;
}
.privacy-policy{
    display: flex;
    justify-content: space-between;
}
.policy{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.footer-links{
    display: flex;
}
.footer-text{
    margin: 20px 10px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
}
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
    margin-left: auto;
   
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 400px;
            margin-left: -80%;
        }
        .footer-search-area p{
            margin: 10px 0;
        }
.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    color: #fff;
    background: #634C9F;
    padding: 5px 20px;
    border-radius: 4px;
}
a{
  text-decoration: none;
}
.dawnload-img img{
  margin:15px 0;
}


@media screen and (min-width:1025px) and (max-width:1366px) {

}
@media screen and (min-width:768px) and (max-width:1024px) {
  
}
@media screen and (min-width:540px) and (max-width:767px){

}
@media screen and (min-width:320px) and (max-width:539px) {
}
@media screen and (max-width:319px) {
    
}